* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  height: 85vh;
}
.register-page,
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.login-link {
  text-decoration: none !important;
}
/* Transaction Page */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
/* antd icon  */
.anticon svg {
  font-size: 1.2rem !important;
  cursor: pointer;
}
.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}
.switch-icon {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px 25px;
}

/* Header */
.navbar {
  background-color: #6f4e3742 !important;
}
.navbar .navbar-brand {
  color: #6f4e37 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 20px;
}

/* Login Page */
.login-page {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expens-head {
  color: #344265 !important;
}

.login-form {
  background-color: #b9bcccb6;
  margin-left: -15px;
  padding: 30px;
}

.login-form h1 {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: #344265;
}

.login-form .ant-form-item-label label {
  color: #344265 !important;
}
.login-form button {
  background-color: #344265;
  color: white;
  outline: none;
}
.login-form button:hover {
  background-color: black;
  color: white;
}
.login-form a {
  color: #344265 !important;
}

.login-form a:hover {
  color: black !important;
}
